<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	  <a class="navbar-brand" href="#">Ni8 Bite</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Menu</a>
			<div class="dropdown-menu" aria-labelledby="menu-items">
              <a class="dropdown-item" href="#">Veg</a>
              <a class="dropdown-item" href="#">Non-Veg</a>
            </div>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="#">Favourites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cart <span class="badge">(4)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
            <div class="dropdown-menu" aria-labelledby="user">
              <a class="dropdown-item " href="#">Profile</a>
              <a class="dropdown-item" href="#">Address</a>
			  <a class="dropdown-item" href="#">Order</a>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </li>
		</ul>
        
		<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
	</nav>
